.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 50px;
  }
}
header {
  background: linear-gradient(white 50px);
  height: 50px;
  overflow: hidden;
  transition: 0.1s;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    > ul > li {
      float: left;
      line-height: 50px;
      margin-right: 40px;
      position: relative;
      ul {
        width: 100%;
        position: absolute;
        li {
          white-space: nowrap;
        }
      }
    }
  }
}

input {
  display: none;
}
.sidebar {
  display: none;
}

.contactTit {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactImg {
  img {
    width: 100%;
    height: 50vh;
  }
}

.contactInfo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contactInfoDesc {
    display: flex;
    gap: 100px;
    .contactInfoDescAdd {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .contactInfoDescAddTit {
        font-size: 2em;
      }
    }
    .contactInfoDescHour {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .contactInfoDescHourTit {
        font-size: 2em;
      }
      .contactInfoDescHourTime {
        font-size: 1.5em;
      }
      .contactInfoDescHourDay {
        font-size: 1.3em;
      }
    }
  }
}

footer {
  .footerInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 50px 0;
    color: #404040;
    font-size: 0.9em;
    font-weight: 300;
    .snsLogo {
      display: flex;
      gap: 30px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .law {
      display: flex;
      gap: 20px;
      :nth-child(2) {
        font-weight: 700;
      }
      div {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  header {
    display: none;
  }
  input[id="menuIcon"] {
    display: none;
  }
  input[id="menuIcon"] + label {
    display: block;
    width: 20px;
    height: 15px;
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 99999;
    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 30px;
      background: #000;
      transition: all 0.35s;
    }
    span:nth-child(1) {
      top: 0;
    }
    span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    span:nth-child(3) {
      bottom: 0;
    }
  }
  input[id="menuIcon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  input[id="menuIcon"]:checked + label span:nth-child(2) {
    opacity: 0;
  }
  input[id="menuIcon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 300px;
    height: 100%;
    background: #efefef;
    padding-top: 30px;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    color: #000;
    font-size: 1.5em;
    transition: all 0.35s;
  }
  input[id="menuIcon"]:checked + label + div {
    right: 0;
  }

  .contactTit {
    margin-top: 0px;
  }

  .contactImg {
    img {
      height: 40vh;
    }
  }

  .contactInfo {
    height: auto;
    margin-top: 50px;
    .contactInfoDesc {
      flex-direction: column;
    }
  }
}
