.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 50px;
  }
}
header {
  background: linear-gradient(white 50px);
  height: 50px;
  overflow: hidden;
  transition: 0.1s;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    > ul > li {
      float: left;
      line-height: 50px;
      margin-right: 40px;
      position: relative;
      ul {
        width: 100%;
        position: absolute;
        li {
          white-space: nowrap;
        }
      }
    }
  }
}

input {
  display: none;
}
.sidebar {
  display: none;
}

.aboutusTit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  margin-top: 170px;
}

.aboutusInner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  .aboutusDesc {
    width: 60%;
  }
  .aboutusDescLast {
    width: 60%;
    font-style: italic;
  }
}

.aboutusImg {
  img {
    width: 100%;
    height: 60vh;
  }
}

.aboutusImgSec {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    width: 100%;
    height: 100%;
  }
}

footer {
  .footerInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 50px 0;
    color: #404040;
    font-size: 0.9em;
    font-weight: 300;
    .snsLogo {
      display: flex;
      gap: 30px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .law {
      display: flex;
      gap: 20px;
      :nth-child(2) {
        font-weight: 700;
      }
      div {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  header {
    display: none;
  }
  input[id="menuIcon"] {
    display: none;
 